
body {
  font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif;
  font-size: 14px;
}

div.outer {
  width: 900px;
  padding: 10px;
  border: 1px solid #106010;
  margin-left: auto;
  margin-right: auto;
}

div.content-wrapper {
  display: flex;
  flex-direction: row;
}

div.side-bar {
  flex: 1 0 0;
}

div.side-bar li {
  margin-left: 0px;
}

div.side-bar li li {
  margin-left: 10px;
}

div.content {
  flex: 4 0 0;
}

div.header {
}

div.footer {
  text-align: center;
  font-style: italic;
  font-size: small;
}
